*.egg-info
.*.swp
.*.swo
*.pyc
.DS_Store
dist
.tox
.coverage
htmlcov
six-*.egg/
*.orig
.idea/
*.iml
*.log
.pytest_cache/

bak
output
output_*
research
venv
venv3
cache
.cache
vendor
xvendor
node_modules

report.xml
pylint-report.html
pytest-report.html
set_w
snafu.py
set_infra


*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.pypirc

.vscode/

localtests/