*.egg-info
.*.swp
.*.swo
*.pyc
.DS_Store
dist
.tox
.coverage
htmlcov
six-*.egg/
*.orig
.idea/
*.iml
*.log

bak
output
output_*
research
venv
venv3
cache
.cache
vendor
xvendor
node_modules

report.xml
pylint-report.html
pytest-report.html
set_w
snafu.py
set_infra
